body {
    background-color: bisque;
    align-items: center;
}


nav {
    display: flex;
    justify-content: center;
    background: black;
    padding: 10px 0;
}


a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}


.bgfimg {
    text-align: left;
}

.name {
    text-align: center;
}


.h1name {
    text-align: center;
}


.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

}


.contenedor img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}


.contenedor h1 {
    margin: 0;
}


.home{
    background-image: url("../TallerTareaSemanaUno/img/battlefront.jpg");
    background-repeat: no-repeat;
    background-size: 100% 34em;
    width: 100%;
}


.home h1{



}



h2{
    text-align: center;
}


header{
    text-align: center;
    width: 100%;
}


header h1{
    font-family: "Cinzel Decorative";
    color: DFDCDC;
    
}